.header-container {
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    background-color: #00A2E1;
}

/* Logo Styling */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container :nth-child(1) {
    margin-right: 4px;
    font-size: 24px;
    color: white;
}

.logo-container :nth-child(2) {
    text-decoration: none;
}

.logo-container :nth-child(2) h3 {
    color: white;
    font-weight: 500;
    font-size: 20px;
} 


/* Other Links Styling */
.other-links {
    display: flex;
}

/* Shortlist Styling */
.shortlist-container {
    margin-right: 28px;
    display: flex;
    align-items: center;
}

.shortlist-container :nth-child(1) {
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-right: 4px;
}

.shortlist-container :nth-child(2) {
    text-decoration: none;
}

.shortlist-container :nth-child(2) p {
    font-size: 16px;
}


/* Contact Us Styling */
.contactus-container {
    display: flex;
    align-items: center;
}

.contactus-container :nth-child(1) {
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-right: 4px;
}

.contactus-container :nth-child(2) {
    color: white;
    font-size: 16px;
    font-weight: 100;
    background: none;
    border: none;
    cursor: pointer;
}

.contactus-container :nth-child(2) p {
    font-size: 16px;
}

/* Modal Contact Us Styling */
.modal-header-contactus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.mail-icon {
    font-size: 32px;
    color: #3A5295;
}

.contactus-text {
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
}

.modal-form-contactus {
    display: flex;
    justify-content: space-between;
}

.modal-form-contactus :nth-child(1) {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-form-contactus :nth-child(1) label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.modal-form-contactus :nth-child(1) input {
    width: 95%;
    height: 56px;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    color: black;
    margin-bottom: 12px;
}

.modal-form-contactus :nth-child(1) input::placeholder {
    color: #CED3D8;
}

.modal-form-contactus :nth-child(1) select {
    width: 95%;
    height: 56px;
    padding: 12px;
    font-size: 20px;
    color: #CED3D8;
    border: 1px solid #CED3D8;
    border-radius: 12px;
}

.modal-form-contactus :nth-child(1) option {
    text-align: left;
}


.modal-form-contactus :nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-form-contactus :nth-child(2) label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.modal-form-contactus :nth-child(2) input {
    width: 100%;
    height: 56px;
    padding: 12px;
    font-size: 20px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    color: black;
    margin-bottom: 12px;
}

.modal-form-contactus :nth-child(2) input::placeholder {
    color: #CED3D8;
}

.modal-form-contactus :nth-child(2) textarea {
    width: 100%;
    height: 184px;
    padding: 8px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    font-size: 20px;
    margin-bottom: 12px;
}

.modal-form-contactus :nth-child(2) textarea::placeholder {
    color: #CED3D8;
}

.modal-form-contactus :nth-child(2) button {
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #3A5295;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Media Query for tablet */
@media screen and (max-width: 1024px) {
    .modal-header-contactus {
        margin-bottom: 12px;
    }

    .contactus-text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 12px;
    }

    .modal-form-contactus {
        flex-direction: column;
    }

    .modal-form-contactus :nth-child(1) {
        width: 100%;
    }

    .modal-form-contactus :nth-child(1) input {
        width: 100%;
    }

    .modal-form-contactus :nth-child(1) select {
        width: 100%;
        margin-bottom: 12px;
    }

    .modal-form-contactus :nth-child(2) {
        width: 100%;
    }

    .modal-form-contactus :nth-child(2) textarea {
        height: 120px;
    }
}

/* Media Query for Phone */
@media screen and (max-width: 720px) {
    .mail-icon {
        display: none;
    }
}