.footer-container {
    padding: 32px 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.main-links {
    width: 38%;
    display: flex;
    justify-content: space-around;
}

.main-links :nth-child(1) {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.main-links :nth-child(2) {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.main-links :nth-child(3) {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.other-info {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 100;
}

.other-info :nth-child(1) {
    margin-right: 16px;
}

/* Media Query for tablet */
@media screen and (max-width: 1024px) {
    .main-links {
        flex-direction: column;
    }

    .main-links :nth-child(1) {
        margin-bottom: 8px;
    }

    .main-links :nth-child(2) {
        margin-bottom: 8px;
    }
}

/* Media Query for Phone */
@media screen and (max-width: 720px) {
    .main-links {
        width: 60%;
    }

    .other-info {
        align-self: flex-end;
    }
}