.homedetails-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.return-link {
    margin: 72px 0 0 56px;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.arrow-icon {
    color: black;
    margin-right: 6px;
}

.return-link p {
    color: black;
}

.homedetails {
    padding: 16px 56px 72px 56px;
    display: flex;
    gap: 0 40px;
}

/* Side of the Main description of the property */
.homedetails-description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.description-container {
    margin-top: 72px;
}

.description-container h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 24px;
}

.description-container p {
    font-size: 20px;
}

.key-features-container {
    margin-top: 72px;
}

.key-features-container h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 24px;
}

.key-features-container p {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 24px;
}

.check-icon {
    color: #3A5295;
    margin-right: 8px;
}


/* Main box of info of the property */
.home-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.main-home-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #CED3D8;
    border-radius: 24px;
}

.main-home-info h2 {
    width: 100%;
    text-align: center;
    padding: 40px 96px;
    font-size: 36px;
    font-weight: 400;
}

.home-details {
    padding: 24px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-top: 1px solid #CED3D8;
}

.home-detail-title {
    margin-bottom: 32px;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-detail-title :nth-child(1) {
    margin-bottom: 16px;
}

.home-detail {
    color: #3A5295;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.bed-detail {
    color: #3A5295;
    font-size: 40px;
    font-weight: 700;
}
.bath-detail {
    color: #3A5295;
    font-size: 40px;
    font-weight: 700;
}

.price-detail {
    color: #3A5295;
    font-size: 40px;
    font-weight: 700;
}


.bedrooms {
    display: flex;
    align-items: center;
}

.bed-icon {
    height: 100%;
    color: #3A5295;
    font-size: 24px;
    margin-right: 4px;
    align-self: flex-start;
}


.bathrooms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bath-icon {
    height: 100%;
    color: #3A5295;
    font-size: 24px;
    margin-right: 4px;
    align-self: flex-start;
}

/* Buttons Styling */
.btns-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shortlist-btn {
    width: 48%;
    height: 48px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.shortlist-icon {
    font-size: 16px;
    margin-right: 4px;
}

.booking-btn {
    width: 48%;
    height: 48px;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #3A5295;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Bedroom Prices box */
.bedrooms-prices-container {
    margin-top: 72px;
}

.bedrooms-prices-container h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 24px;
}

/* Modal Booking Styling */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.modal-header h1 {
    font-size: 36px;
    font-weight: 500;
}

.house-icon {
    font-size: 40px;
    color: #3A5295;
}

.address-booking {
    width: 35%;
    font-size: 20px;
    margin-bottom: 32px;
}

.modal-form {
    display: flex;
    justify-content: space-between;
}

.modal-form :nth-child(1) {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.modal-form :nth-child(1) label {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.modal-form :nth-child(1) input {
    width: 90%;
    height: 56px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    margin-bottom: 12px;
}
.modal-form :nth-child(1) input::placeholder {
    color: #CED3D8;
    font-size: 20px;
}

.modal-form :nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-form :nth-child(2) label {
    font-size: 24px;
    font-weight: 500;
}

.modal-form :nth-child(2) textarea {
    width: 100%;
    height: 184px;
    padding: 8px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    font-size: 20px;
}

.modal-form :nth-child(2) textarea::placeholder {
    color: #CED3D8;
    font-size: 20px;
}

.modal-form :nth-child(2) button {
    height: 56px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #3A5295;
    cursor: pointer;
}
