.homepage-container {
    min-height: 100vh;
}

.cover-container {
    background-image: url('../../assets/cover-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.cover-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.51);
    z-index: -1;
}

.cover-container h1 {
    font-size: 64px;
    font-weight: 500;
    color: white;
    margin-bottom: 24px;
}

.cover-container p {
    font-size: 24px;
    font-weight: 100;
    color: white;
}

/* Search Container Styling */
.search-container {
    width: 75%;
    padding: 24px 48px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px 0px #00000014;
    position: absolute;
    bottom: -56px;
}

.search-input {
    width: 60%;
    height: 48px;
    border-radius: 16px;
    border: 1px solid #CED3D8;
    padding-left: 16px;
    color: black;
    font-size: 20px;
}

.search-results-container {
    animation: input 0.5s ease 0s 1 normal forwards;
    background-color: none;
    height: 300px;
    left: 0;
    overflow: scroll;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: 2;
}

.search-input::placeholder {
    color: #CED3D8;
    font-size: 20px;
}

.findHomes-btn{
    width: 30%;
    border-radius: 16px;
    border: none;
    background-color: #3A5295;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Cities Section Styling */
.cities-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
    z-index: 0;
}

.cities-section p {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
}

.cities-container {
    padding: 48px 72px 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
}

.all-cities-btn {
    width: 200px;
    height: 48px;
    background-color: #3A5295;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}


/* Compare Section Styling */
.compare-section {
    width: 96%;
    margin: 0 2%;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6FAFD;
    border-radius: 24px;
}

.compare-section h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 30%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-icon {
    font-size: 80px;
    color: #3A5295;
    margin-bottom: 16px;
}

.info h4 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.info p {
    font-size: 20px;
    color: #383838;
    text-align: center;
}

/* Extra Info Styling */
.extra-info-section {
    padding: 0 64px 0 64px;
    display: flex;
    justify-content: space-between;
}

.extra-info-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra-info {
    display: flex;
    margin-bottom: 40px;
}
.extra-info-icon {
    font-size: 80px;
    color: #3A5295;
    margin-right: 24px;
}

.extra-info-heart {
    font-size: 56px;
    color: #3A5295;
    margin-right: 24px;
}

.search-compare h4 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

.search-compare p {
    font-size: 20px;
    color: #383838;
}

.search-and-compare {
    width: 40%;
    height: 48px;
    border: none;
    border-radius: 12px;
    background-color: #3A5295;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-info-section aside {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Media Query for tablet */
@media screen and (max-width: 1024px) {
    .cover-container h1 {
        font-size: 40px;
    }

    .cover-container p {
        font-size: 20px;
    }

    .search-container {
        width: 90%;
        padding: 24px 32px;
    }

    .findHomes-btn {
        width: 35%;
    }

    .cities-container {
        padding: 48px 32px 0 32px;
    }

    .compare-section {
        margin-bottom: 32px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 100%;
    }

    .info p {
        width: 60%;
    }

    .extra-info {
        display: none;
    }

    .extra-info-section aside {
        display: none;
    }

    .extra-info-container {
        width: 100%;
        align-items: center;
    }

    .search-and-compare {
        margin-bottom: 32px;
    }
}

/* Media Query for Phone */
@media screen and (max-width: 720px) {
    .search-container {
        flex-direction: column;
        align-items: center;
        padding: 12px 48px;
    }

    .search-input {
        width: 100%;
        margin-bottom: 8px;
    }

    .findHomes-btn {
        width: 60%;
        height: 48px;
    }

    .search-results-container {
        top: 120px;
    }

    .cities-container {
        padding: 48px 48px 0 48px;
    }

    .search-and-compare {
        width: 60%;
    }
}